<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WishPool - your wishes come to real life</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-mass-autocomplete/massautocomplete.theme.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-mass-autocomplete/massautocomplete.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="app.js"></script>
    <script src="js/services/sharedServices.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="js/controllers/profileController.js"></script>
    <script src="js/controllers/sharedController.js"></script>
    <script src="js/controllers/activitiesController.js"></script>
    <script src="js/controllers/addNewGroupController.js"></script>
    <script src="js/controllers/allGroupsController.js"></script>
</head>
<body ng-app="wishpool">
<div class="content">
    <div class="page-header" ng-controller="sharedController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">WishPool</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div ng-if="showNav()" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/#/addNewGroup">Add New Group</a></li>
                                <li><a href="#/allGroups">All Groups</a></li>
                                <li><a href="#">My Groups</a></li>
                            </ul>
                        </li> <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/#/activities">All Activities</a></li>
                                <li><a href="#">My Activities</a></li>
                            </ul>
                        </li>
                      <li><a href="#/#profile">Profile</a> </li>
                        <li ng-click="signOut()"><a href="#">Sign Out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="content-container" ui-view=""></div>

    <footer>
        <p>
            Coded By: Anas Aboureada
        </p>
        Product Owner: Kevin Oluoch
    </footer>
</div>

</body>
</html> 
